$primary-color: #1f2421;
$second-color: #216869;
$third-color: #49a078;
$fourth-color: #9cc5a1;
$font-base-size: 25px;
$serif-fonts: Georgia, Cambria, "Times New Roman", serif;
$border-radius-default: 3px;
